target/
.settings/
.classpath
.project
.idea
*.iml
data/
logs/
plugin/
APP_HOME_IS_UNDEFINED/
DATA_HOME_IS_UNDEFINED/
.embbed/

tiklab-sourcefare-starter/embbed/pgsql-10.23
tiklab-sourcefare-starter/embbed/spotbugs-4.8.1
tiklab-sourcefare-starter/embbed/jdk-16.0.2
tiklab-sourcefare-starter/embbed/go.7z
tiklab-sourcefare-starter/embbed/file
tiklab-sourcefare-starter/embbed/result
tiklab-sourcefare-starter/embbed/code
tiklab-sourcefare-starter/embbed/lizard-1.17.31
tiklab-sourcefare-starter/embbed/pylint-3.3.8
tiklab-sourcefare-starter/embbed/pmd-bin
tiklab-sourcefare-starter/embbed/cpplint-2.0.2
tiklab-sourcefare-starter/embbed/semgrep-1.136.0
tiklab-sourcefare-starter/embbed/gocyclo
tiklab-sourcefare-starter/embbed/go